<template>
  <div class="main-component">
    <navbar></navbar>
    <b-container>
      <router-view :categories="categories" :key="$route.fullPath"></router-view>
    </b-container>
  </div>
</template>

<script>
import Navbar from './partials/Navbar.vue';

export default {
  created() {
    this.$store.dispatch('getCategories');
  },

  computed: {
    categories() {
      return this.$store.state.categories;
    }
  },

  components: {
    Navbar
  }
}
</script>

<style lang="css">
</style>
