<template>
  <b-row>
    <b-col cols="3">
      <sidebar :categories="categories"></sidebar>
    </b-col>
    <b-col v-if="ads">
      <b-row class="py-2">
        <b-col class="col-3">
          <p class="total-results mb-0">
            <span>{{ meta.total }}</span> {{ meta.total > 1 || meta.total === 0 ? 'results' : 'result' }}
          </p>
        </b-col>
        <b-col></b-col>
        <b-col class="col-3">
          <b-form-select v-model="selected" :options="options" @change="onChange"></b-form-select>
        </b-col>
      </b-row>

      <b-row v-if="$route.query.condition || ($route.query.minPrice && $route.query.maxPrice)">
        <b-col class="py-2">
          Filters:
          <b-badge pill v-if="$route.query.condition">Condition</b-badge>
          <b-badge pill v-if="$route.query.minPrice && $route.query.maxPrice">Price</b-badge>
        </b-col>
      </b-row>

      <b-row v-if="meta.total === 0">
        <b-col>
          <p>Sorry, we couldn't find what you're looking for.</p>
        </b-col>
      </b-row>

      <b-row v-else>
        <b-col class="mb-3" cols="4" v-for="ad in ads" :key="ad.id">
          <b-card img-src="https://placekitten.com/1000/300"
                  img-alt="Card image"
                  img-top
                  :title="ad.title"
                  class="single-ad">
            <p class="card-text mb-0">
              {{ ad.owner.location }}
            </p>
            <p class="card-text">
              {{ ad.description }}
            </p>
            <p>
              {{ ad.price }}
            </p>
            <b-button href="#" variant="primary">Go somewhere</b-button>
          </b-card>
        </b-col>
      </b-row>

      <b-row v-if="links.first !== links.last">
        <b-col>
          <b-pagination size="md" :total-rows="meta.total" v-model="currentPage" :per-page="meta.per_page" @change="paginate"></b-pagination>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
import Sidebar from '../components/partials/Sidebar.vue';

export default {
  props: ['categories'],

  data() {
    return {
      selected: null,
      options: [
        {
          value: 'created_at desc',
          text: 'Date Posted'
        },
        {
          value: 'price asc',
          text: 'Price low to high'
        },
        {
          value: 'price desc',
          text: 'Price: high to low'
        }
      ],
      currentPage: this.$route.query.page ? parseInt(this.$route.query.page) : 1
    }
  },

  created() {
    let payload = {
      category: '',
      subcategory: '',
      queryString: ''
    };

    payload.category = this.$route.params.category;

    if (this.$route.query) {
      payload.queryString = window.location.search.substr(1);
    }

    // if (this.$route.params.subcategory) {
    //   payload.subcategory = this.$route.params.subcategory;
    // }

    this.$store.dispatch('getAllAds', payload);
  },

  computed: {
    ads() {
      return this.$store.state.ads.data;
    },

    meta() {
      return this.$store.state.ads.meta;
    },

    links() {
      return this.$store.state.ads.links;
    }
  },

  methods: {
    onChange(value) {
      let test = value.split(' ');
      let sortBy = test[0];
      let orderBy = test[1];
      this.$router.push({ query: Object.assign({}, this.$route.query, { sortBy, orderBy }) });
    },

    paginate(page) {
      document.body.scrollTop = document.documentElement.scrollTop = 0;
      this.$router.push({ query: Object.assign({}, this.$route.query, { page }) });
    }
  },

  components: {
    Sidebar
  }
}
</script>

<style scoped>
  .card-title {
    margin-bottom: .25rem;
  }

  .total-results {
    line-height: 38px;
  }

  .single-ad {
    min-height: 251.89px;
  }
</style>
