<template>
  <category-list :categories="categories"></category-list>
</template>

<script>
import CategoryList from '../components/lists/CategoryList.vue';
export default {
  props: ['categories'],
  components: {
    CategoryList
  }
}
</script>

<style lang="css">
</style>
