<template>
  <b-form @submit.prevent="loginUser">
    <h5>Don't have an account? <b-link @click="onClick">Sign up</b-link></h5>
    <b-form-group label="Email"
                  label-for="email">
      <b-form-input id="email"
                    type="email"
                    v-model="form.email"
                    required>
      </b-form-input>
    </b-form-group>
    <b-form-group label="Password"
                  label-for="password">
      <b-form-input id="password"
                    type="password"
                    v-model="form.password"
                    required>
      </b-form-input>
    </b-form-group>
    <b-button variant="primary">Login</b-button>
  </b-form>
</template>

<script>
import { EventBus } from '../../event-bus';

export default {
  data() {
    return {
      form: {
        email: null,
        password: null
      }
    }
  },

  methods: {
    onClick() {
      EventBus.$emit('onClick');
    },

    loginUser() {
      alert()
      this.$store.dispatch('loginUser', this.form);
    }
  }
}
</script>

<style lang="css">
</style>
