<template>
  <b-form>
    <h5>Have an account? <b-link @click="onClick">Login</b-link></h5>
    <b-form-group label="Name"
                  label-for="name">
      <b-form-input id="name"
                    type="name"
                    v-model="register.name"
                    required>
      </b-form-input>
    </b-form-group>
    <b-form-group label="Email"
                  label-for="email">
      <b-form-input id="email"
                    type="email"
                    v-model="register.email"
                    required>
      </b-form-input>
    </b-form-group>
    <b-form-group label="Password"
                  label-for="password">
      <b-form-input id="password"
                    type="password"
                    v-model="register.password"
                    required>
      </b-form-input>
    </b-form-group>
    <b-form-group label="Confirm Password"
                  label-for="confirm-password">
      <b-form-input id="confirm-password"
                    type="password"
                    v-model="register.password_confirmation"
                    required>
      </b-form-input>
    </b-form-group>
  </b-form>
</template>

<script>
import { EventBus } from '../../event-bus';

export default {
  data() {
    return {
      register: {
        name: null,
        email: null,
        password: null,
        password_confirmation: null
      }
    }
  },

  methods: {
    onClick() {
      EventBus.$emit('onClick');
    }
  }
}
</script>

<style lang="css">
</style>
