<template>
  <ul class="categories">
    <li v-for="category in categories">
      <b-link :to="{ path: '/' + category.slug }">{{ category.name }}</b-link>
    </li>
  </ul>
</template>

<script>
export default {
  props: ['categories'],
}
</script>

<style lang="css">
</style>
