<template>
  <footer>
    <auth-modal></auth-modal>
  </footer>
</template>

<script>
import AuthModal from '../modals/AuthModal.vue';
export default {
  components: {
    AuthModal
  }
}
</script>

<style scoped>
</style>
