<template>
  <div>
    <b-navbar toggleable="md" variant="primary">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand to="/">Marketplace App</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
          <searchbar></searchbar>
          <b-nav-item v-b-modal="'auth-modal'">Login</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import Searchbar from './Searchbar.vue';

export default {
  components: {
    Searchbar
  }
}
</script>

<style lang="css">
</style>
