<template>
  <b-nav-form id="search-form" @submit.prevent="onSubmit">
    <b-form-input placeholder="Search" v-model="search"></b-form-input>
    <b-button type="submit" variant="primary">Search</b-button>
  </b-nav-form>
</template>

<script>
export default {
  data() {
    return {
      search: ''
    }
  },

  methods: {
    onSubmit() {
      this.$router.push({ path: '/all-results', query: { q: this.search } });
    }
  }
}
</script>

<style scoped>
</style>
