<template>
  <div class="sidebar">
    <ul class="categories">
      <h5>Categories</h5>
      <li class="category" v-for="category in categories">
        <b-link :to="{ path: '/' + category.slug }" :class="{ 'font-weight-bold': isActive(category.slug) }">
          {{ category.name }}
        </b-link>
        <ul class="subcategories" :class="{ 'd-none': !isActive(category.slug) }">
          <li class="subcategory" v-for="subcategory in category.subcategories">
            <b-link :to="{ path: '/' + $route.params.category + '/' + subcategory.slug }">
              {{ subcategory.name }}
            </b-link>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="condition">
      <h5>Condition</h5>
      <li v-for="c in condition">
        <b-link :class="{ 'font-weight-bold': $route.query.condition === c.value }" @click.prevent="onClick(c.value)">
          {{ c.text }}
        </b-link>
      </li>
      </li>
    </ul>

    <ul class="price-range">
      <h5>Price Range</h5>
      <b-form @submit.prevent="onSubmit">
        <b-form-group>
          <b-form-input v-model="minPrice" placeholder="₱ MIN" type="number" @change="onChange"></b-form-input>
        </b-form-group>
        <b-form-group>
          <b-form-input v-model="maxPrice" placeholder="₱ MAX" type="number" @change="onChange"></b-form-input>
        </b-form-group>
        <b-button variant="primary" type="submit">APPLY</b-button>
      </b-form>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['categories'],

  data() {
    return {
      condition: [
        {
          value: 1,
          text: 'Brand New'
        },
        {
          value: 0,
          text: 'Used'
        }
      ],
      minPrice: '',
      maxPrice: ''
    }
  },

  created() {
    if (this.$route.query.minPrice && this.$route.query.maxPrice) {
      this.minPrice = this.$route.query.minPrice;
      this.maxPrice = this.$route.query.maxPrice;
    }
  },

  methods: {
    isActive(category) {
      return this.$route.params.category == category;
    },

    onChange(value) {
      if (value.length >= 13) {

      }
    },

    onClick(condition) {
      let query = Object.assign({}, this.$route.query, { condition });
      if(query.page) {
        this.$delete(query, 'page');
      }
      this.$router.push({ query });
    },

    onSubmit() {
      if (this.minPrice && this.maxPrice) {
        let minPrice = this.minPrice;
        let maxPrice = this.maxPrice;
        let query = Object.assign({}, this.$route.query, { minPrice, maxPrice });
        if (query.page) {
          this.$delete(query, 'page');
        }
        this.$router.push({ query });
      } else {
        console.error('foo')
      }
    }
  }
}
</script>

<style scoped>
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
