<template>
  <b-modal id="auth-modal" no-fade hide-header hide-footer @change="onChange">
    <login v-if="login"></login>
    <register v-else-if="register"></register>
  </b-modal>
</template>

<script>
import Login from '../forms/Login.vue';
import Register from '../forms/Register.vue';
import { EventBus } from '../../event-bus';

export default {
  data() {
    return {
      login: true,
      register: false
    }
  },

  created() {
    EventBus.$on('onClick', () => {
      this.login = !this.login;
      this.register = !this.register;
    });
  },

  methods: {
    onChange(is_visible) {
      if (!is_visible) {
        this.login = true,
        this.register = false
      }
    }
  },

  components: {
    Login,
    Register
  }
}
</script>

<style lang="css">
</style>
